body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: forestgreen;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}